<!-- This is all you -->
<!DOCTYPE html>
<title>Portfolio MTM Value</title>

<h2>MTM Value of Portfolio</h2>
<table>
	<thead>
		<tr>
			<th>Trade ID</th>
			<th>Counter Party</th>
			<th>Trader</th>
			<th>MTM Curve</th>
			<th>Buy/Sell</th>
			<th>Price</th>
			<th>Volume</th>
			<th>Tenor Start</th>
			<th>Tenor End</th>
			<th>Delivery Location</th>
			<th>Instrument</th>
			<th>Brokerage</th>
			<th>Tags</th>
			<th>Notes</th>
			<th>MTM Value</th>
		</tr>
	</thead>
	<tbody>
		<% Trade.all.each do |trade|%>
		<tr>
			<td><%= trade.trade_id%></td>
			<td><%= trade.counter_party%></td>
			<td><%= trade.trader%></td>
			<td><%= trade.mtm_curve%></td>
			<td><%= @buy_sell_strings[trade.buy_sell]%></td>
			<td><%= trade.price%></td>
			<td><%= trade.volume%></td>
			<td><%= trade.tenor_start%></td>
			<td><%= trade.tenor_end%></td>
			<td><%= trade.delivery_location%></td>
			<td><%= trade.instrument%></td>
			<td><%= trade.brokerage%></td>
			<td><%= trade.tags%></td>
			<td><%= trade.notes%></td>
			<td><%= controller.get_mtm_value_for_trade(trade.trade_id).round(2)%></td>
		</tr>
		<% end%>
	</tbody>
</table>
Portfolio Total = <%= @portfolio_total%>